.todolist__page {
    background-color: var(--ninth-bg-color);
    padding: 15px;
    width: 46%;
    height: 170px;
    border-radius: 5px;
    margin: 10px 0px 10px 20px;
    position: relative;

}

.todolist__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todolist__header h3 {
    color: var(--first-bg-color);
    font-weight: 500 !important;
    text-transform: capitalize;
}

.todolist__ellipsis {
    font-size: 30px;
    color: var(--first-bg-color);
    cursor: pointer;
    position: relative;
    padding: 0 0 0 60px;
}

.todolist__button {
    background-color: var(--fourth-bg-color);
    display: flex;
    flex-direction: column;
    padding: 8px 40px 8px 8px;
    border-radius: 10px;
    position: absolute;

}

.todolist__btn {
    border: none;
    outline: none;
    background-color: var(--fourth-bg-color);
    color: var(--first-bg-color);
    text-align: start;
    padding: 2px 0;
    cursor: pointer;
}

.todolist__btn:hover {
    background-color: var(--fourth-bg-color);
}

.todolist__category {
    display: flex;
    align-items: center;
    color: var(--tenth-bg-color);
}

.category__select {
    padding: 0 4px;
    font-weight: 300 !important;
    background-color: var(--eleventh-bg-color);
    margin:0 2px;
    border-radius: 5px;
    cursor: pointer;
}

.category__select:hover {
    color: var(--first-bg-color);
}

.todolist__category li {
    margin-right: 10px;
    font-size: 30px;
}

.todolist__color__category {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 3px 9px;
}

.todolist__task__status {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 8px 3px 0px;

}

.todolist__task__status p {
    margin-left: 5px;
}

.todolist__task__status p:hover {
    color: var(--first-bg-color);

}

.todolist__description {
    color: var(--tenth-bg-color);
    overflow-y: auto;
    max-height:70px;
}